
<h1>We are a group of lorems and we can make your child's future better</h1>


<p class="center"><img class="center img-li" src="<%= asset_path 'imagen.svg'%>"></p>
<h2 class="center"><a href="<%= students_path %>">Our students</a></h2>