
<h1>We are a group of lorems and we can make your child's future better</h1>


<h2 class="center"><a href="<%= students_path %>">Our students</a></h2>
<br>
<br>
<br>
<%= 2 + 2 %>
<br>
<%= [1,2,3,4,5].each {|x| puts x } %>